---
import Header from "../layouts/Header.astro";
import Layout from "../layouts/Layout.astro";
import InfoDetail from "../components/DetailProject/InfoDetail";
import CardHighlight from "../components/DetailProject/CardHighlight";
import HorizontalScrollCarousel from "../components/DetailProject/HorizontalScrollCarousel";

const description = `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin nisi tempus, porta diam bibendum, consectetur tortor. Mauris dictum dignissim cursus. Cras semper arcu id accumsan gravida. Nam lacinia orci sit amet lacus sodales varius. Morbi euismod tellus sit amet mauris viverra tempus. Sed gravida ligula ac odio efficitur fermentum. Maecenas posuere consequat neque at euismod. Donec semper commodo efficitur. Suspendisse ut malesuada nibh. Vestibulum cursus enim eget elementum pharetra.

Aenean dignissim ipsum nisi, a tristique augue sagittis quis. Maecenas porttitor metus non cursus molestie. Nam ornare diam quam, in luctus magna bibendum eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin aliquet massa sem, eu efficitur diam dapibus in. In a ligula egestas, luctus libero a, mollis velit. Etiam volutpat orci a ornare dignissim. Nunc laoreet nec velit maximus suscipit. Phasellus mi nulla, varius vitae arcu sed, scelerisque vulputate neque. Nulla tincidunt hendrerit accumsan. Etiam iaculis odio ut tristique pulvinar. Aenean ullamcorper eros vitae augue tristique, vel dignissim lectus pharetra. Cras sollicitudin sem eu eros egestas, at congue ex convallis. Donec turpis sem, vestibulum a quam non, tincidunt fermentum nisi.`;

const tags = ["React", "FrontEnd", "Storybook", "Tailwind"];
const techs = [
  {
    title: "Desarrollo Web",
    subtitle:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident mollitia dolor, unde rerum impedit repudiandae. Repellendus mollitia eligendi itaque atque fuga sint officia pariatur neque enim! Ad, fugit incidunt. Suscipit.",
    emoji: "✏️",
  },
  {
    title: "Diseño UI/UX",
    subtitle:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident mollitia dolor, unde rerum impedit repudiandae. Repellendus mollitia eligendi itaque atque fuga sint officia pariatur neque enim! Ad, fugit incidunt. Suscipit.",
  },
  {
    title: "Backend",
    subtitle:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident mollitia dolor, unde rerum impedit repudiandae. Repellendus mollitia eligendi itaque atque fuga sint officia pariatur neque enim! Ad, fugit incidunt. Suscipit.",
  },
  {
    title: "Backend",
    subtitle:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident mollitia dolor, unde rerum impedit repudiandae. Repellendus mollitia eligendi itaque atque fuga sint officia pariatur neque enim! Ad, fugit incidunt. Suscipit.",
  },
];

const button = {
  link: "",
  text: "Sample button",
};

const cards = [
  {
    url: "https://placehold.co/600x400",
    title: "Title 1",
    id: 1,
  },
  {
    url: "https://placehold.co/600x400",
    title: "Title 2",
    id: 2,
  },
  {
    url: "https://placehold.co/600x400",
    title: "Title 3",
    id: 3,
  },
  {
    url: "https://placehold.co/600x400",
    title: "Title 4",
    id: 4,
  },
  {
    url: "https://placehold.co/600x400",
    title: "Title 5",
    id: 5,
  },
];
---

<Layout
  title="Mogami Porfolio"
  description="Front-end Developer apasionado por el diseño web y sistemas de diseño. Especializado en interfaces atractivas y fáciles de usar, con un enfoque en crear experiencias web innovadoras."
>
  <Header>
    <a class="hover:font-bold duration-200" href="#projects">Projects</a>
    <a class="hover:font-bold duration-200" href="#experience">Experience</a>
    <a class="hover:font-bold duration-200" href="#about">About me</a>
  </Header>
  <main class="mt-[6rem] w-full">
    <div class="h-90 w-full bg-blue-violet">
      <img src="https://placehold.co/600x400" alt="" class="object-cover" />
    </div>
    <section class="mx-auto flex flex-col gap-10 pt-16">
      <InfoDetail
        client:load
        year="2024"
        client="vndjnbkdjf"
        description={description}
        tags={tags}
        button={button}
      />
      <div
        class="px-8 grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mb-10"
      >
        {
          techs.map((item) => (
            <CardHighlight
              title={item.title}
              subtitle={item.subtitle}
              emoji={item.emoji}
              client:load
            />
          ))
        }
      </div>
    </section>
    <HorizontalScrollCarousel cards={cards} client:load />
  </main>
</Layout>
